<nav class="navbar navbar-expand navbar-dark bg-dark mb-4">
  <div class="navbar-brand"><img src="/assets/images/bs-logo.png" alt=""></div>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Characters</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <!-- <app-character-list></app-character-list> -->
  <router-outlet></router-outlet>
</div>
